apiVersion: v1
kind: Namespace
metadata:
  name: staging
---
apiVersion: v1
kind : Secret
metadata :
  name: secret-fb
  namespace: staging
type: Opaque
data:
  DB_USER: cm9vdA==
  DB_PASS: dmhpY28xMjM=
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: location-configmap
  namespace: staging
data:
  config.php: |
        <?php
        $db_host = "database.ckw1ddumtncz.ap-southeast-1.rds.amazonaws.com";
        $db_user = getenv("DB_USER");
        $db_pass = getenv("DB_PASS");
        $db_name = "dbsosmed_stag";
        try {
        //create PDO connection
        $db = new PDO("mysql:host=$db_host;dbname=$db_name", $db_user, $db_pass);
        } catch(PDOException $e) {
        //show error
        die("Terjadi masalah: " . $e->getMessage());
        }